$bgColor: #171717;
$gray1: #616161;
$color1: #ffc03b;
$color2: #ff7646;
$color-link: #4690FB;
$color-font: #1F1F1F;

body{
    padding: 0;
    margin: 0;
    background: linear-gradient(180deg, rgba(255,118,70,1) 0%, rgba(255,192,59,1) 100%);
    font-family: 'Inter', sans-serif;
    color: $color-font;
}

.container{
    width: 100vw;
    height: 100vh;

    min-width: 300px !important;

    display: flex;

    .panel-left{
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.7);

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .header{
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            text-shadow: 0 2px #17171760;

            #welcome-to{
                font-size: 3em;
            }

            #meeme{
                font-size: 6em;
            }
        }

        .form-container{
            padding-left: 80px;
            padding-right: 80px;

            form{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .form-title{
                    margin-right: auto;
                    font-size: 2em;
                    font-weight: 800;
                    text-shadow: 0 2px #17171760;
                }

                .forgot-password{
                    margin-left: auto;
                    margin-top: 5px;
                    font-size: 1.3em;
                    color: $color-link;
                    font-weight: 800;
                    text-shadow: 0 2px #17171760;
                }
            }

            input {
                width: 20vw;
                font-size: 1.5em;
                font-weight: lighter;
                padding: 15px 20px;
                margin-top: 20px;
                border-radius: 12px;
                border: 3px solid $color2;
                outline: none !important;
            }

            input[type=text]:focus {
                background-color: rgb(238, 238, 238);
            }

            .button-container{
                display: flex;
                width: 100%;
                justify-content: space-between;
                margin-top: 100px;

                button.sign-in{
                    background-color: black;
                    width: 200px;
                    padding: 15px;
                    border-radius: 10px;
                    color: white;
                    font-size: 2em;
                }

                button.sign-up{
                    text-align: right;
                    color: $color-link;
                    background: none;
                    border: none;
                    font-size: 1.5em;
                    font-weight: 800;
                    text-shadow: 0 2px #17171760;
                }
            }
            
        }
    }

    .panel-right{
        margin: auto;
        text-align: right;
        position: relative;
        right: -90px;
        top: -80px;
        font-family: 'Koulen', cursive;
        letter-spacing: 10px;

        #daily-dose-of{
            font-size: 9em;
            font-weight: 400;
        }

        .meemes{
            font-size: 11em;
            font-weight: 800;
            position: relative;
            top: -120px
        }
    }
}

.link:hover{
    cursor: pointer;
    font-size: +20px;
}

@media screen and (max-width: 1700px) {
    .container{
        .panel-left{
            .form-container{
                .button-container{
                    button.sign-in{
                        width: 50%;
                        font-size: 130%;
                    }
                    button.sign-up{

                        font-size: 130%;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1400px) {
    .container{
        .panel-left{
            .form-container{
                form{
                    .forgot-password{
                        font-size: 1em;
                    }
                }

                input{
                    width: 250px;
                }
                .button-container{
                    button.sign-in{
                        width: 50%;
                        font-size: 100%;
                    }
                    button.sign-up{

                        font-size: 100%;
                    }
                }
            }
        }
        .panel-right{
            right: -30px;

            #daily-dose-of{
                font-size: 6em;
            }
    
            .meemes{
                font-size: 8em;
                top: -100px;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .container{
        .panel-left{
            .header{
                width: 70%;
    
                #welcome-to{
                    font-size: 2.5em;
                }
    
                #meeme{
                    font-size: 5em;
                }
            }
        }
        .panel-right{
            right: 0;
            letter-spacing: 5px;

            #daily-dose-of{
                font-size: 6em;
            }
    
            .meemes{
                font-size: 8em;
                top: -100px;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .container{
        .panel-right{
            letter-spacing: 2px;

            #daily-dose-of{
                font-size: 5em;
            }
    
            .meemes{
                font-size: 7em;
                top: -80px;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .container{
        .panel-right{
            letter-spacing: 0;

            #daily-dose-of{
                font-size: 4em;
            }
    
            .meemes{
                font-size: 6em;
                top: -60px;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .container{
        .panel-right{
            display: none;
        }

        .panel-left{
            width: 100vw;
    
            .header{
                width: 50%;
                margin-left: auto;
                margin-right: auto;
            }
    
            .form-container{
                form{
                    width: 60%;
                    margin-left: auto;
                    margin-right: auto;

                    .form-title{
                        font-size: 1.5em;
                    }
                }
    
                input {
                    width: 90%;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .container{
        .panel-right{
            display: none;
        }

        .panel-left{
            width: 100vw;
    
            .header{
                width: 50%;
                margin-left: auto;
                margin-right: auto;

                #welcome-to{
                    font-size: 2em;
                }
    
                #meeme{
                    font-size: 4em;
                }
            }
    
            .form-container{
                padding-left: 40px;
                padding-right: 40px;

                form{
                    width: 80%;
                    margin-left: auto;
                    margin-right: auto;

                    .form-title{
                        font-size: 1.5em;
                    }
                }
    
                input {
                    width: 90%;
                    font-size: 1em;
                }
            }
        }
    }
}

@media screen and (max-width: 470px) {
    .container{
        .panel-right{
            display: none;
        }

        .panel-left{
            width: 100vw;
    
            .header{
                width: 80%;
                margin-left: auto;
                margin-right: auto;

                #welcome-to{
                    font-size: 2em;
                }
    
                #meeme{
                    font-size: 4em;
                }
            }
    
            .form-container{
                padding-left: 20px;
                padding-right: 20px;

                form{
                    width: 90%;
                    padding: 0;

                    .form-title{
                        font-size: 1.5em;
                    }
                }
    
                input {
                    width: 100%;
                    font-size: 1em;
                }
            }
        }
    }
}