$bgColor: #171717;
$gray1: #616161;
$color1: #ffc03b;
$color2: #ff7646;

body{
    background-color: $bgColor;
    color: white;
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: space-between;
    flex-direction: row;

    .left-panel{
        width: 30vw;

        .logo{
            margin-left: 25px;
        }

        .header{
            display: flex;
            flex-direction: row;
            padding: 25px 0;

            form{
                margin: 0 25px;
                width: 100%;
            }

            input{
                border: 1px solid #616161;
                background-color: #171717;
                color: #616161;
                border-radius: 15px;
                width: 100%;
                line-height: 30px;
            }

            input::placeholder{
                padding-left: 25px;
                text-overflow: ellipsis;
            }
        }
    }

    .middle-panel{
        width: 800px;
        border-right: 1px solid #616161;
        border-left: 1px solid #616161;

        .header{
            width: 100%;
            font-size: 2em;
            font-weight: 800;
            padding: 25px 0;
            border-bottom: 1px solid #616161;

            .community-name{
                margin-left: 50px;
            }
        }
    }

    .right-panel{
        width: 30vw;

        .button-container{
            display: flex;
            justify-content: end;
            
            .button{
                border-radius: 15px;
                padding: 8px 20px;
                font-size: 1.5em;
                font-weight: 800;
                margin-top: 25px;
            }

            .button:hover{
                cursor: pointer;
            }

            .sign-in{
                border: 2px solid #616161;
                margin-right: 25px;
            }

            .sign-up{
                margin-right: 25px;
                border: 2px solid #ffffff;
                background: linear-gradient(180deg, rgba(255,118,70,1) 0%, rgba(255,192,59,1) 100%);
            }
        }
    }
}