$bgColor: #171717;
$gray1: #616161;
$color1: #ffc03b;
$color2: #ff7646;

body{
    background-color: $bgColor;
    color: white;
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    width: 100vw;
    min-height: 100vh;

    display: flex;
    justify-content: space-between;
    flex-direction: row;

    .left-panel{
        width: 30vw;
        display: flex;
        flex-direction: row;
        padding: 25px 0;

        .left-panel-left{

            .logo{
                margin-left: 25px;
            }
        }

        .left-panel-right{
            width: 300px;
            margin-left: auto;
            height: 100vh;
            position: sticky;
            top: 25px;

            form{
                width: 90%;
                margin: auto;
            }

            input{
                border: 1px solid $gray1;
                background-color: #171717;
                color: $gray1;
                border-radius: 15px;
                width: 100%;
                line-height: 30px;
            }

            input::placeholder{
                padding-left: 25px;
                text-overflow: ellipsis;
            }

            .nav-left{
                width: 100%;
                margin-top: 50px;
                overflow: scroll;
                height: 100%;

                .button{
                    padding: 10px;
                    font-weight: 800;
                    line-height: 100%;

                    display: flex;
                    flex-direction: row;

                    .icon{
                        font-size: 3em;
                    }
                    .name{
                        margin-left: 20px;
                        font-size: 1.5em;
                        line-height: 40px;
                    }
                }

                .button-new-meme{
                    border: 2px solid white;
                    border-radius: 25px;
                    background: linear-gradient(180deg, rgba(255,118,70,1) 0%, rgba(255,192,59,1) 100%);
                    padding: 25px 0;
                    text-align: center;
                    font-size: 1.5em;
                    font-weight: 800;
                }
            }
        }
    }

    .middle-panel{
        width: 800px;
        min-height: 100vh;
        border-right: 1px solid $gray1;
        border-left: 1px solid $gray1;

        .header{
            width: 100%;
            font-size: 2em;
            font-weight: 800;
            padding: 25px 0;
            border-bottom: 1px solid $gray1;

            .community-name{
                margin-left: 50px;
            }
        }

        .meme-container{
            width: 100%;
            border-bottom: 1px solid $gray1;

            .meme-header{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                
                line-height: 50px;
                font-weight: normal;
                margin: 0 25px;
                padding: 5px 0;

                .user-info{
                    width: 100%;
                    display: flex;
                    flex-direction: row;

                    .user-logo{
                        font-size: 2em;
                        width: 50px;
                        height: 50px;
                        border-radius: 5px;
                        text-align: center;
                    }
    
                    .user-name{
                        font-size: 1em;
                        padding-left: 10px;
                    }
                }

                .community-name{
                    font-size: 1em;
                }
            }
            
            .meme-text{
                padding: 0 20px 10px 20px;
                text-align: justify;
            }

            .meme-image{
                width: 95%;
                margin: auto;
                height: 450px;
                background-color: #d49d35;
                border-radius: 5px;
            }

            .meme-bottom{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 5px 0;
                

                button{
                    background-color: transparent;
                    outline: none;
                    border: none;
                    font-size: 2em;
                    color: $gray1;
                }

                .vote-panel{
                    margin-left: 20px;

                    .vote-amount{
                        font-size: 1.2em;
                        color: $gray1;
                        font-weight: 800;
                        line-height: 25px;
                        position: relative;
                        top: -6px;
                    }
                }

                .meme-bottom-right{
                    margin-right: 20px;

                    .trash-bin{
                        display: none;
                    }
                }
            }
        }
    }

    .right-panel{
        width: 30vw;

        .button-container{
            display: flex;
            justify-content: end;
            
            .button{
                border-radius: 15px;
                padding: 8px 20px;
                font-size: 1.5em;
                font-weight: 800;
                margin-top: 25px;
            }

            .button:hover{
                cursor: pointer;
            }

            .sign-in{
                border: 2px solid #616161;
                margin-right: 25px;
            }

            .sign-up{
                margin-right: 25px;
                border: 2px solid #ffffff;
                background: linear-gradient(180deg, rgba(255,118,70,1) 0%, rgba(255,192,59,1) 100%);
            }
        }
    }
}