body {
  background-color: #171717;
  color: white;
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.container .left-panel {
  width: 30vw;
}
.container .left-panel .logo {
  margin-left: 25px;
}
.container .left-panel .header {
  display: flex;
  flex-direction: row;
  padding: 25px 0;
}
.container .left-panel .header form {
  margin: 0 25px;
  width: 100%;
}
.container .left-panel .header input {
  border: 1px solid #616161;
  background-color: #171717;
  color: #616161;
  border-radius: 15px;
  width: 100%;
  line-height: 30px;
}
.container .left-panel .header input::-moz-placeholder {
  padding-left: 25px;
  text-overflow: ellipsis;
}
.container .left-panel .header input:-ms-input-placeholder {
  padding-left: 25px;
  text-overflow: ellipsis;
}
.container .left-panel .header input::placeholder {
  padding-left: 25px;
  text-overflow: ellipsis;
}
.container .middle-panel {
  width: 800px;
  min-height: 100vh;
  border-right: 1px solid #616161;
  border-left: 1px solid #616161;
}
.container .middle-panel .header {
  width: 100%;
  font-size: 2em;
  font-weight: 800;
  padding: 25px 0;
  border-bottom: 1px solid #616161;
}
.container .middle-panel .header .community-name {
  margin-left: 50px;
}
.container .middle-panel .meme-container {
  width: 100%;
  border-bottom: 1px solid #616161;
}
.container .middle-panel .meme-container .meme-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 50px;
  font-weight: normal;
  margin: 0 25px;
  padding: 10px 0;
}
.container .middle-panel .meme-container .meme-header .user-info {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.container .middle-panel .meme-container .meme-header .user-info .user-logo {
  font-size: 2em;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  text-align: center;
}
.container .middle-panel .meme-container .meme-header .user-info .user-name {
  font-size: 1em;
  padding-left: 10px;
}
.container .middle-panel .meme-container .meme-header .community-name {
  font-size: 1em;
}
.container .middle-panel .meme-container .meme-image {
  width: 95%;
  margin: auto;
  height: 450px;
  background-color: #d49d35;
}
.container .middle-panel .meme-container .meme-bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 0;
}
.container .middle-panel .meme-container .meme-bottom button {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 2em;
  color: #616161;
}
.container .middle-panel .meme-container .meme-bottom .vote-panel {
  margin-left: 20px;
}
.container .middle-panel .meme-container .meme-bottom .vote-panel .vote-amount {
  font-size: 1.2em;
  color: #616161;
  font-weight: 800;
  line-height: 25px;
  position: relative;
  top: -6px;
}
.container .middle-panel .meme-container .meme-bottom .meme-bottom-right {
  margin-right: 20px;
}
.container .middle-panel .meme-container .meme-bottom .meme-bottom-right .trash-bin {
  display: none;
}
.container .right-panel {
  width: 30vw;
}
.container .right-panel .button-container {
  display: flex;
  justify-content: end;
}
.container .right-panel .button-container .button {
  border-radius: 15px;
  padding: 8px 20px;
  font-size: 1.5em;
  font-weight: 800;
  margin-top: 25px;
}
.container .right-panel .button-container .button:hover {
  cursor: pointer;
}
.container .right-panel .button-container .sign-in {
  border: 2px solid #616161;
  margin-right: 25px;
}
.container .right-panel .button-container .sign-up {
  margin-right: 25px;
  border: 2px solid #ffffff;
  background: linear-gradient(180deg, rgb(255, 118, 70) 0%, rgb(255, 192, 59) 100%);
}/*# sourceMappingURL=style.css.map */